*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(135deg, #0b0013 0%, #7700bb 100%);
    margin: 0;
}

nav{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    background-color: #A374FA;
    text-align: right;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    transition: 0.2s linear;
}

.logo:hover{
    height: 75px;
    width: 75px;
    transition: 0.2s linear;
}
.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:transparent;
    padding: 10px;
}

.menu-list li {
    display: inline-block;
    position: relative;
}

.menu-list li a {
    color: #fff;
}
.menu-list li {
    display: inline-block;
    position: relative;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.list-a{
    text-decoration: none;
    font-size: 1.35rem;
    color: rgb(0,0,0);
    transition: 0.3s;
    letter-spacing: 4px;
    margin-left: 5px;
}


.list-a:hover{
    font-size: 23.8px;
    transition: 0.3s ;
    text-decoration: underline;
}

.name{
    position: absolute;
    letter-spacing: .25rem;
    width: 1000px;
    height: 62px;
    left: 220px;
    top: 120px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 48px;
    line-height: 58px;

    color: #000000;
    background-color: #D9D9D9;
    border-radius: 13.5px;
    padding: 50px;
}

.name::selection{
    color: yellow;
}

.letter_name::selection{
    color: red;
}

.opys{
    font-size: 27px;
    align-items: center;
    color: white;
    font-weight: 600;
}

main{
    margin-left: .5cm;
    color: #fff;
    margin-right: .5cm;
}

header{
    background-image: url(./images/image_header1.png);
    height: 100vh;
    width: 100%;
}


.letter_name{
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
    color: black;
    font-weight: bold;
}


::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#A374FA);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,black);
}

.special{
    width: 150px;
    background-color: #FF6B00;
    text-align: center;
}

.special_log{
    transition: 0.3s linear;
    text-align: center;
}

.special_log:hover{
    border-bottom: 2px solid white;
    color: white;
    transition: 0.5s linear;
    width: 70px;
    text-align: center;
    margin-left: 40px;
}

.kompl{
    text-align: center;
    margin-top: 10px;
}

.main_section1{
    align-items: center;
    width: 50%;
    text-align: center;
    margin-bottom: 17px;
}

.buy.summary {
    display: flex;
    background-color: #C4C4C4;
    border-radius: 17px;
    cursor: pointer;
    width: 80px;
    justify-content: center;
    align-items: center;
    padding: .50rem;
    font-size: 24px;
}

.buy::marker {
    content: none;
}
 
summary{
    cursor: pointer;
}

.main_section2{
    text-align: center;
    margin-bottom: 17px;
    width: 50%;
    align-items: center;
}

.photo{
    height: 250px;
    width: 176px;
    border-radius: 10px;
}

.main_section3{
    text-align: center;
    width: 50%;
    margin-bottom: 17px;
    align-items: center;
}

.main_section4{
    text-align: center;
    margin-bottom: 17px;
    width: 50%;
    align-items: center;
}

.znak{
    font-family: cursive;
    font-size: 1.35rem;
}

.social_set_img{
    height: 40px;
    width: 40px;
    transition: 0.3s;
}

.main{
    position: absolute;
    top: 1600px;
    right: 50px;
    height: 400px;
    width: 400px;
    transition: 0.3s;
    border-radius: 50px;
}

.pro_nas{
    background-color: #167E9E;
    padding: 30px;
    border-radius: 13.5px;
}

.name_opys{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.main_images{
    height: 368px;
    width: 235px;
    justify-self: center;
    border-radius: 10px;
}

.images_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageses{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont_im{
    gap: 20px;
}

.social_set_img:hover{
    transition: 0.3s;
    transform: rotate(-45deg);
}

.names{
    transition: 0.34s;
}

.names:hover{
    transition: 0.34s;
    font-size: 25px;
    font-style: italic;
}

.contact-container{
    background-color: #FBAC35;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 558px;
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title .form-name-left{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
    transition: 0.2s;
    color: #a9a9a9;
}


.contact-left .submit{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #000000;
    border: none;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .contact-inputs{
        width: 80vw;
    }

    .contact-right{
        display: none;
    }

    .main{
        display: none;
    }
}

footer{
    background-color: #A374FA;
    margin-top: 15px;
    padding: 2rem;
}

.footer_logo_image{
    position: absolute;
    top: 3550px;
    right: 50px;
    height: 140px;
    width: 140px;
    border-radius: 100%;
}


.soc_merezi{
    margin-top: 15px;
}

.footer_social{
    height: 74px;
    width: 74px;
    border-radius: 10px;
}

.my_social{
    text-decoration: none;
    font-size: 27px;
    color: #000000;
    transition: 0.2s;
    
}

.my_social:hover{
    transition: 0.2s;
    text-decoration: underline;
    font-size: 30px;
}

.my_social:focus{
    color: #fff;
}

.sections_div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.prise{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.free{
    position: fixed;
    display: flex;
    top: 0;
    background-color: lightblue;
    width: 100%;
    height: 50px;
}

.close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.googleDiskName{
    width: 50%;
    display: flex;
    align-items: center;
}

.files_link{
    margin-left: 5px;
}

.goToTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: cadetblue;
    cursor: pointer;
    transition: 0.2s;
}

.goToTop:focus{
    border: 2px solid black;
}

.goToTop:hover{
    transition: 0.2s;
    padding: 25px;
}
